<h1>Records#index</h1>
<p>Find me in app/views/records/index.html.erb</p>

<div>
<button id="js-start-recording">Start</button>
<button id="js-stop-recording">Stop</button>
</div>

<section id="js-sound-clips">
</section>
